body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background: #eee;
}

.hide-mobile {
  display: none;
}
.hide-desktop {
  display: inline-block;
}

/**********/
/* HEADER */
/**********/
header {
  color: #b7b7b7;
  background: #000323;
  text-align: center;
  padding: 0.2rem 0;
}

#logo-e-nome {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 25vw;
}

img {
  max-width: 100%;
}

#nome {
  margin: 0;
  font-size: 8vw;
}

#mpc {
  font-size: 5.4vw;
  margin: 0;
}

/********/
/* MAIN */
/********/

/********************** TOPO ***********************/
#main-topo {
  color: #fff;
  background-color: #000323;
  /* background-image: url("images/foto-loja.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  font-size: 1em;
}

#sombra {
  /* background: rgba(0, 0, 0, 0.7); */
  padding: 1rem 2rem;
}

#titulo {
  text-align: center;
  font-size: 6vw;
  margin: 0;
  /* font-family: serif; */
}

ul {
  padding-left: 1rem;
}

.text {
  /* text-align: justify; */
  margin: 1.5rem 0;
}

.highlight-orange {
  background: #ffa500;
  font-weight: bold;
  font-size: 1.1em;
}

.highlight-red {
  background: #ff0000;
  font-weight: bold;
  font-size: 1.1em;
}
#corona {
  background-color: #cc0000;
  margin: 1rem -2rem;
  padding: 0.1rem 2rem;
  line-height: 1.7rem;
  text-align: justify;
  font-size: 1.3rem;
}

#corona span {
  font-weight: bold;
  font-size: 1.35rem;
}

#link-whatsapp {
  text-decoration: none;
}

#botao-whatsapp {
  background: #25d366;
  color: #fff;
  margin: 0 auto 1rem;
  padding: 1rem;
  text-align: center;
  /* width: fit-content; */
  width: 90%;
  border-radius: 2rem;
  box-shadow: 2px 2px 1px #fff;
}

#botao-whatsapp p {
  margin: 0;
}

#botao-whatsapp p:first-child {
  font-size: 3.2vw;
}

#numero-whatsapp {
  font-size: 6.4vw;
}

/********************** DESTAQUES ***********************/
#titulo-destaques {
  text-align: center;
  font-size: 6vw;
}

.titulo-produto {
  background-color: #000323;
  color: #fff;
  margin: 0;
  padding: 0.5rem 0;
}

.produto {
  background: #fff;
  color: #000323;
  width: 90%;
  height: fit-content;
  text-align: center;
  border: 2px solid #000323;
  /* padding-top: 0.3rem; */
  margin: 0 auto 1rem;
  box-shadow: 5px 5px 5px #000323;
  line-height: 1.3rem;
}

.comprar {
  background: #000323;
  color: #fff;
  padding: 0.8rem;
  border: none;
  width: 100%;
  cursor: pointer;
}

#cta-visita {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

/**********/
/* FOOTER */
/**********/
footer {
  color: #fff;
  background: #000323;
}

#contacts {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

#contacts a {
  text-decoration: none;
  color: #fff;
}

#copyright {
  font-size: 0.8rem;
  text-align: center;
  background: #000310;
  padding: 0.5rem;
}

.whatsapp-float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:20px;
	background-color:#25d366;
	color:#fff;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 1px #fff;
  z-index:100;
  display: none;
  cursor: pointer;
}

.i-whatsapp-float {
	margin-top:16px;
}

/*
###########################################
###              DESKTOP                ###
###########################################
*/
@media (min-width: 800px) {
  .hide-desktop {
    display: none;
  }
  .hide-mobile {
    display: inline-block;
  }

  /**********/
  /* HEADER */
  /**********/
  header {
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  }

  #logo-e-nome {
    justify-content: flex-start;
  }

  #logo {
    width: 10vw;
    /* max-width: 150px; */
  }

  #nome {
    font-size: 3.5vw;
    /* font-size: 3rem; */
    margin: 0;
  }

  /********/
  /* MAIN */
  /********/

  /********************** TOPO ***********************/

  #main-topo {
    font-size: 1.5em;
  }

  #sombra {
    padding: 4rem;
  }
  #titulo {
    font-size: 2.3rem;        
    margin: 0;
  }

  #corona {
    margin: 1rem -4rem;
    padding: 1rem 4rem;
  }

  #botao-whatsapp {
    width: fit-content;
  }

  #botao-whatsapp p:first-child {
    font-size: 1.5rem;
  }

  #numero-whatsapp {
    font-size: 3rem;
  }

  /********************** DESTAQUES ***********************/

  /* #produtos {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.produto {
  max-width: 310px;
} */

  #titulo-destaques {
    font-size: 3rem;
  }

  #produtos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #cta-visita {
    text-align: center;
  }

  /**********/
  /* FOOTER */
  /**********/
  #contacts {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
  }
}
